# --- CONFIGURACION DE PRODUCCION (.env.prod) ---

DEBUG=False
SECRET_KEY="cambia-esta-clave-en-produccion-por-una-muy-larga-y-aleatoria"

# Tu IP pública de Oracle Cloud
ALLOWED_HOSTS=141.148.227.48

# --- BASE DE DATOS (MariaDB/MySQL) ---
# Como la base de datos corre nativa en el servidor (fuera de Docker),
# apuntamos a la IP interna de Docker host, o a la IP pública del servidor.
DB_ENGINE=mysql
DB_NAME=aficionados_network_db
DB_USER=django_user
DB_PASSWORD=tu_password_seguro
DB_ROOT_PASSWORD=root_password_seguro
# En Docker, para hablar con otro contenedor se usa el nombre del servicio
DB_HOST=db
DB_PORT=3306

# --- REDIS (Para Django Channels) ---
# Apuntamos al contenedor interno definido en el docker-compose.yml
REDIS_URL=redis://redis:6379/0

# --- SEGURIDAD HTTP ---
# Por ahora NO tenemos HTTPS porque no hay dominio.
# SECURE_SSL_REDIRECT en False para evitar bucles de redirección infinita en HTTP.
SECURE_SSL_REDIRECT=False

# --- CORREOS ELECTRÓNICOS ---
EMAIL_HOST_USER=tu_email@gmail.com
EMAIL_HOST_PASSWORD=tu_password_de_aplicacion
