asgiref==3.11.0
asttokens==3.0.1
attrs==26.1.0
autobahn==25.12.2
Automat==25.4.16
cbor2==6.1.2
cffi==2.0.0
channels==4.3.2
channels_redis==4.3.0
constantly==23.10.4
crispy-bootstrap5==2025.6
cryptography==48.0.0
daphne==4.2.2
decorator==5.2.1
dj-database-url==3.1.0
Django==6.0
django-crispy-forms==2.5
django-extensions==4.1
executing==2.2.1
gunicorn==21.2.0
hyperlink==21.0.0
idna==3.18
Incremental==24.11.0
ipdb==0.13.13
ipython==9.8.0
ipython_pygments_lexers==1.1.1
jedi==0.19.2
matplotlib-inline==0.2.1
msgpack==1.1.2
mysqlclient==2.2.8
packaging==26.0
parso==0.8.5
pexpect==4.9.0
pillow==12.0.0
prompt_toolkit==3.0.52
ptyprocess==0.7.0
pure_eval==0.2.3
py-ubjson==0.16.1
pycparser==3.0
Pygments==2.19.2
PyMySQL==1.1.0
pyOpenSSL==26.2.0
python-dotenv==1.2.1
redis==8.0.0
service-identity==26.1.0
sqlparse==0.5.4
stack-data==0.6.3
traitlets==5.14.3
Twisted==26.4.0
txaio==25.12.2
typing_extensions==4.15.0
ujson==5.12.1
wcwidth==0.2.14
whitenoise==6.5.0
zope.interface==8.5
